form(action='regaccount',method='post')
    p
        |ready to register a account:
        input(type='text',name='account',size=10)
    p
        |set your password:
        input(type='password',name='password',size=10)
    p
        input(type='submit',value='submit')
p
    |resend a message?
